<h2>Agregar País</h2>
<section class="agregar-section">
    <div class="agregar-pais-contenedor">
    <form method="GET" action="/paises/agregarpais">


  <div class="mb-3">
  <label for="nombre-pais-input" class="form-label">Email address</label>
  <input type="text" class="form-control nombre-pais-input" id="nombre-pais-input" placeholder="Republica Dominicana" required>
</div>


<div class="mb-3">
  <label for="ISO-pais-input" class="form-label">Email address</label>
  <input type="text" class="form-control ISO-pais-input" id="ISO-pais-input" placeholder="RD" required>
</div>




  <div class="botonos-contenedore">
<button class="btn btn-success" type="submit"> Crear país</button>
<button type="button" class="btn btn-warning">Volver</button>
  </div>
</form>
</div>

</section>