<h2>Agregar País</h2>
<section class="agregar-section section">
    <div class="agregar-pais-contenedor ">

    <form action="/paises/agregarpais" method="POST" >


  <div class="mb-3 form-group ">
  <label for="nombre-pais-input" class="form-label">Nombre del Pais</label>
  <input type="text" name="nombre" class="form-control nombre-pais-input" id="nombre-pais-input" placeholder="Republica Dominicana" >
</div>


<div class="mb-3 form-group">
  <label for="ISO-pais-input" class="form-label">ISO del Pais</label>
  <input type="text" name="iso" class="form-control ISO-pais-input" id="ISO-pais-input" placeholder="RD" >
</div>




  <div class="botonos-contenedore">
<button class="btn btn-success btn-crear" type="submit" > Crear país</button>
<a href="/paises"></a><button type="button" class="btn btn-warning btn-volver">Volver</button>  </div>
</form>
</div>

</section>