<main>
<section class="agregar-section section">
    <div class="agregar-pais-contenedor">
        <div class="form-inner text-center">
            <h2 class="mb-4">Eliminar macroindicador</h2>
            <p>¿Está seguro que desea eliminar <strong>{{macro.nombre}}</strong>?</p>
            <div class="botonos-contenedore mt-4">
                <form action="/macroindicadores/eliminar/{{macro.id}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-crear">Aceptar</button>
                </form>
                <a href="/macroindicadores"><button type="button" class="btn btn-warning btn-volver">Cancelar</button></a>
            </div>
        </div>
    </div>
</section>
</main>
