<h1>Macroindicadores</h1>

<section class="seccion-paises">

  <button type="button" class="btn btn-success agregar-paises" >+ Agregar Pais</button>


<div class="tabla-conteneedor">

  <table class="tabla-paises">
  <thead>
    <tr>
      <th class="bandera-label">Nombre</th>
      <th>Peso</th>
      <th>Mejor alto?</th>
      <th class="accion-label">Acciónes</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="bandera-conte">Creciminto del PIB</td>
      <td class="peso-td">0.40</td>
      <td class="si-no-td"><div class="si-no">si</div></td>
      <td class="accion-btn">
        <button type="button" class="btn btn-danger btn-elimnar">Eliminar</button>
        <button type="button" class="btn btn-warning btn-editar">Editar</button>

      </td>
    </tr>
  </tbody>
</table>
</div>

</section>