
<h2 class="titulo-paises">paises</h2>

<section class="seccion-paises">
  
<a href="/paises/agregarpais" class="agregar-paises">  <button type="button" class="btn btn-success agregar-paises " id="bt-agregar-pais"> + Agregar Pais</button></a>

<div class="tabla-conteneedor">

  <table class="tabla-paises">
  <thead>
    <tr>
      <th class="bandera-label">Bandera</th>
      <th>Nombre</th>
      <th>/Código ISO</th>
      <th class="accion-label">Acción</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="bandera-conte"><img src="" alt=""></td>
      <td>República Dominicana</td>
      <td>RD</td>
      <td class="accion-btn">
        <button type="button" class="btn btn-danger btn-elimnar">Eliminar</button>
        <button type="button" class="btn btn-warning btn-editar">Editar</button>

      </td>
    </tr>
  </tbody>
</table>
</div>

</section>
